<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <img src="../../../assets/icons/menu.svg" alt="Menu">
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/images/logo_fullcolor.png" alt="xPayments Explorer"/>
      </a>

      <div class="collapse navbar-collapse" [ngClass]="{'show': showMenu}">
        <ul class="navbar-nav mr-auto">
          <li
              *ngFor="let navItem of navItems"
              class="nav-item"
          >
            <a class="nav-link" [routerLink]="navItem.link" routerLinkActive="active" (click)="toggleMenu()">
              {{navItem.title}}
            </a>
          </li>
        </ul>
      </div>

  </div>
</nav>
